.merriweather {
  font-family: 'Merriweather', serif;
}
.cover {

  background-image: url("../images/castle1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}
.half-height {
  height: 80vh !important;
}
.slow {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}
.slow1 {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
}
.gradient {
  background: #f85032;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.text-super {
  font-size: 6em;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .grid {
      grid-template-columns: repeat(3, 1fr);
  }
}
//Absolutely delightful
.grid {
  grid-template-columns: repeat(4, 1fr);
}
.grid a img {
  transition: all .2s ease-in;
  filter: grayscale(100%);
}

.grid a:hover img {
  filter: grayscale(0);
}